<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Application Form</title>
    <link rel="stylesheet" href="css/application-css.css">
</head>

<body>



    <form name="Form">
        <h2>Application Form</h2>
        <div class="box">
            <label>Application Id</label>
            <input type="text" name="application_id" required>
        </div>

        <div class="box">
            <label>Full Name</label>
            <input type="text" name="name" required>
        </div>

        <div class="box">
            <label>Date of Birth</label>
            <input type="date" name="DoB" required>
        </div>

        <!-- 'application_id','name','DoB','Aadhar','Passport','Address','gender','pwd_category',
    'documents','passport_pic','Notes -->


        <div class="box">
            <label>Aadhar Number</label>
            <input type="number" name="Aadhar" required>
        </div>

        <div class="box">
            <label>Passport</label>
            <input type="number" name="Passport" required>
        </div>

        <div class="box">
            <label>Address</label>
            <input type="text" name="Address" required>
        </div>

        <div class="box">
            <label>Gender</label>
            <div class="form-inline" id="gender">
                <label><input type="radio" name="gender" value="male" required> Male</label>
                <label><input type="radio" name="gender" value="female" required> Female</label>
            </div>
            <div class="error" id="genderErr"></div>
        </div>


        <!-- 'application_id','name','DoB','Aadhar','Passport','Address','gender','pwd_category',
    'documents','passport_pic','Notes -->


        <div class="box">
            <label for="department">Department
            </label>
            <select id="department" name="department" required>
                <option value="none" selected disabled hidden>Select your Department</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Electronics Engineering">Electronics Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
            </select>
        </div>

        <div class="box">
            <label for="specialization">Specialization
            </label>
            <select name="specialization" id="specialization" required>

            </select>
        </div>

        <div class="box">
            <label for="reservation_category">Category
            </label>
            <select id="reservation_category" name="reservation_category">
                <option value="OC">OC</option>
                <option value="OBC">OBC</option>
                <option value="SC">SC</option>
                <option value="ST">ST</option>
            </select>
        </div>

        <div class="box">
            <label>PWD Category</label>
            <input type="text" name="pwd_category" id="name" required>
        </div>

        <div class="box">
            <label>Documents</label>
            <input type="file" accept="application/pdf" name="documents" id="name" required>
        </div>

        <div class="box">
            <label>Passport Pic</label>
            <input type="file" accept="image/png, image/jpeg, image/jpg" name="passport_pic" id="name" required>
        </div>

        <div class="box">
            <label>Notes</label>
            <input type="text" name="Notes" id="name" required>
        </div>

        <div class="box">
            <input type="submit" value="Submit">
        </div>

        <!-- Below link is only for checking purposes, hence can be removed -->

        <!-- <div><a href="login-page.html">LOGIN</a></div> -->
    </form>

    <div>
        {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{msg.message}}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <script type="text/javascript">
        setTimeout(function() {
            $('.messages').fadeOut('fast');
        }, 10000);

        function getSpecializations() {

            var x = document.getElementById("department").value;
            var items;
            if (x === "Computer Science") {
                items = ["Machine Learning", "Web development"];
            } else if (x === "Electronics Engineering") {
                items = ["Robotics", "Chip Designing"]
            } else {
                items = ["Power Plant", "Petroleum Industry"]
            }

            var str = ""

            for (var item of items) {
                str += "<option value='" + item + "'>" + item + "</option>"
            }
            document.getElementById("specialization").innerHTML = str;
        }

        document.getElementById("department").addEventListener("click", getSpecializations)
    </script>

</body>

</html>